
$primary: #4472c4;
$secondary: #70ad47;
$danger: #e73434;
$warning: #ffc000;
$info: #5b9bd5;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.875rem;
$headings-font-family: 'Source Sans Pro', sans-serif;
$body-color: #797979;
$success: $secondary;