# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ercole

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mocks
fake_*.go

# Distributions files
distributed_files/*
!distributed_files/index.txt

# IDEs
.vscode
