[Unit]
Description=Ercole reposervice
PartOf=ercole.service
After=ercole.service syslog.target network.target

[Service]
ExecStart=/usr/bin/ercole serve --enable-repo-service
User=ercole

[Install]
WantedBy=ercole.service
