[Unit]
Description=Ercole dataservice
PartOf=ercole.service
After=ercole.service syslog.target network.target
Wants=ercole-alertservice.service

[Service]
ExecStart=/usr/bin/ercole serve --enable-data-service
User=ercole

[Install]
WantedBy=ercole.service
